.products , .detail{
 display:flex;
 flex-direction:column;
 align-items:center;
 background:#F5EBD7;
}


.title{

    background:#DAF7A6;
    padding:15px;
    border-radius:10px;
    border-bottom:3px solid #A4A4A4;
    
}
.img{

    background:#EECCFC;
    padding:30px;
    border-radius:10px;
}


.price{
    background:#CDF3FE;
    padding:10px;
    border-radius:10px;
    border-bottom:3px solid #A4A4A4;

}
.details{
    background:#F5B63A;
    padding:10px;
    color:white;
    text-decoration:none;
    border-radius:10px;  
    margin-bottom:80px;
    border-bottom:3px solid #A4A4A4;


}

.detail{
    background:#F5EBD7;


}
.bold{
    font-size:20px;
}